:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.2s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a,
a:active {
  text-decoration: none;
  color: black;
}

.mainWrapper {
  min-height: 100vh;
}

.navbar {
  padding: 20px;
  font-size: 30px;
  background: black;
  text-align: center;
  color: whitesmoke;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .navbar {
    font-size: 18px;
  }
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 8px;
  padding-right: 8px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  min-width: 400px;
  max-width: max-content;
  margin: auto;
  border-top: 1px solid var(--clr-black);
  border-bottom: 1px solid var(--clr-black);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  color: black;
  gap: 10px;
}

.img {
  width: 9.4rem;
  height: 100%;
  position: relative;
  margin-right: 1.2rem;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
  color: black;
  font-weight: 300;
}

.timelineHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 2rem;
}

.i {
  margin: 1rem;
  height: 4rem;
  width: 1.5rem;
}

h3 {
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
h4 {
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 400;
}

.search-bar {
  padding: 0.9rem;
  padding-left: 1rem;
  background: white;
  width: 20rem;
  height: 3rem;
  border-radius: 8px;
}

.search-bar:focus::placeholder {
  color: grey;
  font-size: 0.9rem;
  background: white;
  outline: none;
}

.btn {
  text-transform: uppercase;
  background: white;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  margin-left: 0.5rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  text-wrap: nowrap;
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 12px;
  }
}

.btn:hover {
  color: var(--clr-black);
  background: var(--clr-grey-9);
}

.column {
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: 8px;
  width: 400px;
  background-color: var(--clr-primary-9);
  padding: 12px 8px;
  gap: 0.5rem;
  border: 1px solid;
}

@media screen and (max-width: 600px) {
  .column {
    width: 300px;
  }
}

.repoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.repos {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  font-size: 15px;
  padding-bottom: 5rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding: 4px;
}

.repoName {
  display: flex;
  gap: 8px;
}

h2 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  background: whitesmoke;
  color: black;
  padding: 10px;
  position: fixed;
  bottom: 0;
}

.github {
  width: 5rem;
  height: 1.8rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem;
  margin-right: 0.3rem;
}

.repDetails {
  background-color: #fffff0;
  border-radius: 5px;
  border: 0.5px solid var(--clr-primary-8);
  font-size: 14px;
}
